.aside {
  &-news {
    &-text {
      font-size: 18px;
      font-weight: 700;
      &::before {
        content: " ";
        width: 20px;
        height: 20px;
        display: inline-block;
        padding-right: 10px;
        top: 50%;
        border: 5px solid $color-blue;
        border-radius: 50%;
      }
    }
  }

  &-card {
    span svg {
      color: $date-color;
    }
    &-lorem {
      &-p {
        font-weight: 700;
        font-size: 14px;
      }
    }

    &-time {
      color: $date-color;
    }
  }
}

.koproq-news {
  &::before {
    content: " ";
    width: 3px;
    top: 0;
    bottom: 0;
    display: block;
    left: 0;
    background-color: $color-blue;
  }
  border-right: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: space-between;
  background-color: $bg-color;
  padding: 10px 15px;
  a {
    color: $color-text;
    font-weight: 700;
  }
}
