.dolzarb {
  &-xabar {
    &-item {
      display: flex;
      align-items: center;
      &::before {
        content: " ";
        border: 5px solid $color-blue;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.dol-left-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  a {
    margin: 15px 0;
    color: $color-text;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
  }
}

.card-dol {
  width: 100%;
  img {
    width: 314px;
    height: 196px;
  }

  div {
    font-size: 18px;
    line-height: 1.2;
    color: $color-text;
    font-weight: 700;
  }
}
