.dolzarb {
  &-xabar {
    &-item {
      display: flex;
      align-items: center;
      &::before {
        content: " ";
        border: 5px solid $color-blue;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      font-size: 18px;
      font-weight: 700;
    }
  }
}
