.intervyu {
  background-color: $bg-color;
  &-left {
    display: flex;
    align-items: center;
    span {
      display: flex;

      align-items: center;

      gap: 10px;
      font-weight: 700;
    }
    span::before {
      gap: 10px;
      content: " ";
      width: 20px;

      height: 20px;
      border-radius: 50%;
      border: 5px solid $color-blue;
      display: inline-block;
    }
  }
  &-right {
    &-link {
      a {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.card {
  width: 293px;
  height: 287px;
  &::after {
    content: " Intervyu";
    font-size: 30px;
    font-weight: 700;
    color: $date-color;
    transform: rotate(270deg);
    right: 0;
    position: absolute;
    top: 100px;
  }
  &-image {
    img {
      &::after {
        content: " ";
        top: 0;
        bottom: 0;
        position: absolute;
        background-color: $color-blue;
        display: block;
      }
      margin-left: -25px;
      width: 263px;
      height: 164px;
    }
  }
  &-text {
    margin-left: 20px;
    color: $color-text;
    font-weight: 700;
    font-size: 18px;
    margin-right: 50px;
  }
}
