.main {
  &-xabar {
    background-color: $bg-color;
    height: auto;
    &-image img {
      width: 490px;
      height: 333px;
    }
    &-text-span {
      &-energetika {
        font-size: 22px;
        font-weight: 800;
        line-height: 1.4;
      }
    }
  }
  &-tanlov {
    span {
      margin-top: 20px;
      font-weight: 700;
      font-size: 18px;
      display: flex;
      align-items: center;
      &::before {
        content: " ";
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 5px solid $color-blue;
        border-radius: 50%;
      }
    }
  }
}

.image-ener img {
  width: 175px;
  height: 113px;
}
