.main {
  &-xabar {
    background-color: $bg-color;
    height: auto;
    &-image img {
      width: 490px;
      height: 333px;
    }
    &-text-span {
      &-energetika {
        font-size: 22px;
        font-weight: 800;
        line-height: 1.4;
      }
    }
  }
}

.image-ener img {
  width: 175px;
  height: 113px;
}
